body {
    background-color: rgb(255, 250, 245);
}


#title h1 {
    background-color: black;
    font-family: 'Newsreader', serif;
    color:rgb(255, 250, 245);
    text-align: center;
    padding: 30px;
}

#nav-menu {
    float: right;
    color: cornsilk;
}

/* Nav-bar Image */
.nav-image {
    background-image: url(../assets/images/buddha-nav-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding-top: 10px;
} 

#buddhism-overview {
    background-image: url(../assets/images/buddha-symbol.png);
    height: 700px;
    background-repeat: no-repeat;
    padding: 40px;
    float: left;
}