body {
    background-color: rgb(255, 250, 245);
}


#title h1 {
    font-family: 'Newsreader', serif;
    color:rgb(34, 30, 28);
    float: left;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* nav-bar Image */

.nav-image {
    background-image: url(../assets/images/buddha-nav-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
} 



/* navbar menu */

.nav-menu a {
    color:rgb(34, 30, 28);
    float: right;
}

a:hover {
    color: darkkhaki;
}



#buddhism-overview {
    font-family: 'Poppins', serif;
    width: 50%; 
    padding-left: 25%;
    text-align: center;
}
 
/* image on left side of synopsis paragrapgh */

.buddhism-symbol {
    background-image: url(../assets/images/buddha-head-statue.jpg);
    height: 700px; 
}

.social-websites > li {
     display: inline-block;
}

.social-websites {
    font-size: 140%;
    margin: 1%;
    padding: 25px;
}

.home-title {
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 4px;
}

