body {
    background-color: rgb(255, 250, 245);
}


#title h1 {
    font-family: 'Newsreader', serif;
    color: goldenrod;
    float: left;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* nav-bar Image */

.nav-image {
    background-image: url('../assets/images/buddha-nav-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
    display: flex;
}



/* navbar menu */

#nav-menu li {
    color: rgb(102, 79, 63);
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    list-style-type: none;
    text-decoration: none;
}
a:hover {
    color: darkkhaki;
}
.active {
    color: rgb(185, 77, 0);
}

/* information synopsis of home page */

.home-title {
    font-family: 'Newsreader', serif;
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3vw;
}

#buddhism-overview {
    font-family: 'Poppins', serif;
    width: 50%; 
    padding-left: 25%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    letter-spacing: 1px;
}

p {
    color: rgb(34, 34, 34);
}
 
/* image on left side of synopsis paragrapgh */

.buddhist-sym-left {
    background-image: url('../assets/images/buddhas-sitting-in-row.jpeg');
    height: 300px;
    width: 300px;
    background-attachment: fixed;
    float: left;
    border-style: hidden;
    border-width: 2px;
    border-radius: 50%;
    max-width: 100%;
}

.buddhist-sym-right {
    background-image: url('../assets/images/group-of-buddhist-statues.jpg');
    height: 300px;
    width: 300px;
    background-attachment: fixed;
    float: right;
    border-style: hidden;
    border-width: 2px;
    border-radius: 50%;
    max-width: 100%;
}


/* list heading style format for precepts */

.precept-list-title {
    font-family: 'Newsreader', serif;
    color: goldenrod;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2vw;
    width: 50%;
    padding-left: 25%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;
}

.fa-om {
    float: left;
    padding-left: 15%;
    align-items: center;
}

.fa-dharmachakra{
   float: right;
   display: block;
   align-items: center;
   padding-right: 15%;


}

/* ordered list paragraph text styling */

 p {
    width: 50%;
    font-family: 'Poppins', serif;
    padding-left: 150px;
    width: 50%; 
    padding-left: 25%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    color: rgb(7, 7, 7);
    letter-spacing: 1px;
    
}

.precept-title {
    font-family: 'Newsreader', serif;
    font-size: 3vw;
    letter-spacing: 3px;
    color: goldenrod;
    text-transform: uppercase;
    text-align: center;
    width: 50%; 
    padding-left: 25%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.history-title {
    font-family: 'Newsreader', serif;
    font-size: 3vw;
    letter-spacing: 2px;
    color: goldenrod;
    text-transform: uppercase;
    text-align: center;
    width: 50%; 
    padding-left: 25%;
    padding-top: 3px;
    padding-bottom: 1px;
}

/* style for hr lines in history page */

hr {
    height: 0;
    border-style: solid;
    border-top: 2px solid rgb(204, 153, 13);
    margin: 1em 0;
    padding: 0;
}


/* social media links */

.social-websites > li {
    display: inline-block;
}

.social-websites {
   font-size: 200%;
   padding: 25px;
}

.fa-facebook {
    color: blue;
}

.fa-twitter-square {
    color: yellow;
}

.fa-youtube {
    color: red;
}

.fa-instagram {
    color: orangered;
}

.fa-wikipedia-w {
    color: white;
}

/* Footer styling */

.main-footer {
   background-color: black;
   text-align: center;
   height: fit-content;
   position: static;
   width: 100%;
   margin: auto;
}


